@import 'tailwindcss';

@theme {
  --color-bg-primary: #121217;
  --color-bg-secondary: #16161e;
  --color-text-muted: #6a6a80;
  --color-accent: #e8c84a;
}

@layer base {
  body {
    font-family: 'Space Mono', monospace;
    background: var(--color-bg-primary);
    color: var(--color-text-muted);
  }

  header {
    background-color: var(--color-bg-secondary);
    color: var(--color-accent);
    text-transform: uppercase;
    border-color: var(--color-text-muted);
  }
}
